# -*- coding: utf-8 -*-
#
# This file is part of IDUtils
# Copyright (C) 2015, 2016 CERN.
#
# IDUtils is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.
#
# In applying this license, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as an Intergovernmental Organization
# or submit itself to any jurisdiction.

include *.rst
include .coveragerc
include .editorconfig
include docs/*.py
include docs/*.rst
include docs/Makefile
include docs/requirements.txt
include .lgtm
include LICENSE
include MAINTAINERS
include pytest.ini
include run-tests.sh
recursive-include *.py *.css *.css_t *.conf *.html
recursive-include docs *.py
recursive-include tests *.py
recursive-include .github/workflows *.yml